.logo-container{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
}
.logo{
  top: 50%;
  left:50%;
  width: 115%;
  min-width: 1600px;
  position: fixed;
  transform: translate(-50%,-50%);
  opacity: 0.05;
  z-index: -10;
  /*pointer-events: none;*/
}

.presentation{
  position: relative;
  top: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
  border-radius: 20px;
  height: 300px;
  width:700px;
  gap: 36px;
  overflow: hidden;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.05) 
  );
}

.p-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-container p{
  width: 500px;
  text-align: justify;
}

.memoji-container{
  display: flex;
  background-color: rgba(207, 207, 207, 0.568);
  height: 120px;
  width: 110px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.memoji{
  height: 100px;
}

.contact{
  color: black;
  font-weight: 500;
}

.contact:hover{
  color: rgba(0, 0, 0, 0.7);
}

.scroll-down{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  margin-top: 175px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(112, 112, 112);
}



.scroll-down i {
  font-size: 28px;
  transition: all 0.3s;
}

.scroll-down:hover i{
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: black;
}

.myworks{
  
  display: grid;
  height: auto;
  width: 100%;
  padding: 0 50px;
  position: relative;
  grid-template-rows: repeat(auto-fit, minmax(600px,1fr));
  grid-template-columns: repeat(auto-fit,400px);
  gap: 60px;
  justify-content:center;
}

.work-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  border-radius: 20px;
  overflow: hidden;
  gap: 5px;
  padding: 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.205);
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}



.sufilog-cover,.F1_suspension-cover{
  position: relative;
  height: 100%;
}

.img-container{
  position: relative;
  width: 400px;
  height:400px;
  overflow: hidden;
  top: -50px;
  left: -50px;
}

.minif-cover{
  position: relative;
  width: 100%;
}

.work-title{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.work-place,.work-date{
  color: gray;
  padding-left: 20px;
}

@media(max-width: 920px) {
  .presentation{
    display: flex;
    width:80%;
    gap: 24px;
    overflow: hidden;
    padding: 20px;
    height: auto;
    flex-wrap: wrap;
  }
  .p-container p{
    width: 100%;
    text-align: start;
  }
  .p-container{
    padding: 12px;
  }

  .myworks{
    padding: 0 25px;
    grid-template-rows: repeat(auto-fit, minmax(450px,500px));
    grid-template-columns: repeat(auto-fit,minmax(300px,400px));
    gap: 30px;
    justify-content:center;
  }

  .img-container{
    width: 150%;
    height: 100%;
  }

  .F1_suspension-cover,.minif-cover,.sufilog-cover{
    
    width: 100%;
  }

}