.logo-container{
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
}
.logo{
  top: 50%;
  left:50%;
  width: 115%;
  min-width: 1600px;
  position: fixed;
  transform: translate(-50%,-50%);
  opacity: 0.05;
  z-index: -10;
  /*pointer-events: none;*/
}

.presentation{
  position: relative;
  top: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
  border-radius: 20px;
  height: 300px;
  width:700px;
  gap: 36px;
  overflow: hidden;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.05) 
  );
}

.p-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-container p{
  width: 500px;
  text-align: justify;
}

.memoji{
  height: 100px;
}

.contact{
  color: black;
  font-weight: 500;
}

.contact:hover{
  color: rgba(0, 0, 0, 0.7);
}

.scroll-down{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  margin-top: 175px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(112, 112, 112);
}

.scroll-down i {
  font-size: 28px;
  transition: all 0.3s;
}

.scroll-down:hover i{
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: black;
}

.myworks{
  display: flex;
  position: relative;
  justify-content: space-around;
  
}

.work1-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width:400px;
  border-radius: 20px;
  overflow: hidden;
  
  gap: 5px;
  padding: 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.205);
}

.sufilog-cover{
  position: relative;
  top: -50px;
  left: -50px;
  width: 145%;
}

.work-title{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.work-place,.work-date{
  color: gray;
  padding-left: 20px;
}